DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost [or any other host as you have]
SEND_WITH_US_API_KEY=sendwithus api key for sendwithus plugin
FULL_CONTACT_API_KEY=full contact api key for the full contact plugin
DISPLAY_ERRORS=0[or 1,setting 1 will show all the PHP erros on browser,not recomended on production]
CRM_NAME=sQcrm
SITE_URL=http://sqcrm
PORTAL_URL=http://sqcrm/cpanel